.inner-banner{
  border-bottom: 1px solid #f2f2f2;
}
.inner-banner .bg{
  background-image: url("http://unifytheme.com/bin/bitap/images/inner-page/banner.jpg");
  background-size: cover;
}
.overlay{
  background: rgba(0,0,0,0.8);
  text-align: center;
  padding: 75px 0 85px 0;
  position: relative;
  z-index: 9;
}
.overlay h2{
  color: #fff;
  font-weight: 800;
  font-size: 50px;
  text-transform: capitalize;
}
.inner-banner ul li{
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 500;
  margin-right: 3px;
  color: #1a1a1a;
  line-height: 60px;
  text-transform: capitalize;
}
inner-banner ul li a {
  color: #1a1a1a;
}
.inner-banner ul li:last-child{
  color: #109988;
}
