<app-section-header [header]="'Sobre Nosotros'" [section]="'Sobre nosotros'" ></app-section-header>
<!-- section -->
<section class="uk-section about-us">
  <div class="uk-container">
    <div class="uk-grid-small uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid>
      <div>
        <div class="uk-grid-small uk-grid-match" uk-grid>
          <div class="uk-width-auto">
            <img src="http://unifytheme.com/bin/bitap/images/inner-page/1.jpg" alt="">
          </div>
          <div class="uk-width-1-3@m uk-visible@m">
            <div class="uk-child-width-1-1 uk-grid-small" uk-grid>
              <div>
                <img src="http://unifytheme.com/bin/bitap/images/inner-page/2.jpg" alt="">
              </div>
              <div>
                <img src="http://unifytheme.com/bin/bitap/images/inner-page/3.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="title">
        <h2>Damos servicio desde <span>1994</span> con mucho orgullo </h2>
        <div>
          <p class="uk-text-muted uk-margin-small" >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusamus aliquid aut consequatur dolorum, eum ex libero odit quisquam voluptatem!
          </p>
          <p class="uk-text-muted uk-margin-bottom" >
            Deleniti ducimus ipsa magnam modi odit officia officiis perferendis quae! Fugiat nemo sapiente sequi tempore.
          </p>
          <div class="uk-child-width-1-3@m uk-child-width-1-1@s uk-margin-small-top ceo-info" uk-grid>
            <div class="uk-text-center">
              <img class="uk-border-circle" src="http://unifytheme.com/bin/bitap/images/home/5.jpg" alt="">
            </div>
            <div>
              <h6 class="uk-margin-remove">Leticia Garcia</h6>
              <p class="uk-text-muted uk-margin-small-top">CEO & Fundadora</p>
            </div>
            <div>
              <img src="http://unifytheme.com/bin/bitap/images/home/sign.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin section -->

<section class="uk-section">
  <article class="counter-container uk-container">
    <div class="uk-child-width-1-3@m uk-child-width-1-1@s uk-text-center" uk-grid>
      <div>
        <div class="wrapper">
          <div class="numbers">
            +<span id="n1" countUp [endVal]="targets.projects" duration="15" startVal="0">0</span>
          </div>
          <p class="uk-text-lead uk-text-muted">Proyectos completados</p>
        </div>
      </div>

      <div>
        <div class="wrapper">
          <div class="numbers">
            +<span id="n2" countUp [endVal]="targets.years" duration="20" startVal="0">0</span>
          </div>
          <p class="uk-text-lead uk-text-muted">Años de experiencia</p>
        </div>
      </div>

      <div>
        <div class="wrapper">
          <div class="numbers">
            +<span id="n3" countUp="options" [endVal]="targets.workes" duration="20" startVal="0">0</span>
          </div>
          <p class="uk-text-lead uk-text-muted">Expertos trabajando</p>
        </div>
      </div>
    </div>
  </article>
</section>

<section class="uk-section">
  <div class="our-history">
    <div class="uk-container uk-width-3-4">
      <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
        <div>
          <div class="uk-card">
            <div class="uk-card-media-top">
              <img src="http://unifytheme.com/bin/bitap/images/inner-page/4.jpg" alt="">
            </div>
            <div class="uk-card-body padding-remove-left">
              <h6 class="uk-text-muted">Metas del Negocio</h6>
              <h2 class="uk-margin-remove uk-text-bold">Nuestra Misión</h2>
              <p class="uk-text-muted">
                Elaborar  productos  innovadores  y  de  calidad  que  permitan
                reconocer   el  éxito  y  logros  obtenidos de cada persona  para
                que esos momentos perduren por siempre.
              </p>

              <p class="uk-text-muted">
                Así  mismo,  ser  participes   en  el   agradecimiento  hacia  esas
                personas  que  son  o  formaron  parte  en  el  logro  de la  meta
                alcanzada.
              </p>

              <p class="uk-text-muted">
                Los principios que soportan  nuestra operación son:
                Calidad.-   Procurando   siempre   cada    detalle   en   nuestros
                productos, realizando cada uno de los procesos requeridos de
                manera personal.
            </p>

              <p class="uk-text-muted">
                Innovación.- Desarrollando constantemente nuestros procesos,
                materiales  y diseños  en todos nuestros productos con el fin de
                satisfacer el gusto y expectativas de nuevas generaciones.
            </p>

              <p class="uk-text-muted">
                Servicio al cliente.- Brindando una respuesta, atención y entrega
                oportuna, ya que sabemos que se espera lucir nuestros artículos
                en un momento preciso y especial.
            </p>

            </div>
          </div>
        </div>
        <div>
          <div class="uk-card">
            <div class="uk-card-body padding-remove-left">
              <h6 class="uk-text-muted">Sobre Nosotros</h6>
              <h2 class="uk-margin-remove">Nustra Historia</h2>
              <p class="uk-text-muted">
                Empresa 100% mexicana fundada en el año de 1994, ubicada
                En el oriente de la ciudad de México.
              <p>

              <p class="uk-text-muted">
                “Reconocimientos GS”  es  hoy  en  día  una  de  las  empresas líderes y de mayor
                prestigio en la venta y  fabricación de artículos de  graduación,
                anillos conmemorativos, preseas  y  reconocimientos  al  mérito
                laboral, así como especialistas en la  maquila  de   grabado  en
                diversos materiales.
              <p>

              <p class="uk-text-muted">
                Se posee una infraestructura compuesta por talleres propios de
                diseño, manufactura, ensamblado y  producto  terminado  que
                permite    cumplir    con    los    requerimientos   y    necesidades
                exclusivas de cada uno de los clientes.
              <p>

              <p class="uk-text-muted">
                La  calidad  de  los   productos   que   aquí   se   elaboran   y   la
                capacidad  de  entrega  en  un  corto  plazo,  ha permitido  que
                Reconocimientos GS forme parte de los proveedores en las principales escuelas y
                universidades  del  país, así  como en  grandes  empresas  de  la
                iniciativa privada y gubernamental.
              <p>


            </p>
            </div>
            <div class="uk-card-media-bottom">
              <img src="http://unifytheme.com/bin/bitap/images/inner-page/5.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="uk-section padding-remove-top">
  <div class="uk-container">
    <h2 class="uk-text-center">Nuestros Equipo</h2>
    <p class="uk-text-center">Conoce a nuestro equipo de expertos</p>
    <div class="uk-child-width-1-4@m uk-child-width-1-1@s" uk-grid>
      <app-teammember></app-teammember>
      <app-teammember></app-teammember>
      <app-teammember></app-teammember>
      <app-teammember></app-teammember>
    </div>
  </div>
</section>
