<div>

  <div class="single-team-member">
    <div class="img"><img class="uk-border-rounded" src="http://unifytheme.com/bin/bitap/images/team/1.jpg" alt="Image"></div>
    <div class="title">
      <h5><a href="#" class="tran3s">Antonio Creighton</a></h5>
      <span>CEO at Google</span>
      <p>Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in.</p>
      <ul class="padding-remove-left uk-hidden">
        <li><a href="" class="tran3s round-border"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="" class="tran3s round-border"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
        <li><a href="" class="tran3s round-border"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
    </div> <!-- /.title -->
  </div> <!-- /.single-team-member -->

</div>
