<section class="uk-section uk-section-large padding-large-bottom">
  <div class="uk-container">
    <div class="uk-child-width-1-2" uk-grid>
      <div>
        <div>
          <img src="http://unifytheme.com/bin/bitap/images/home/6.jpg" alt="">
        </div>
      </div>
      <div>
        <div>
          <h6 class="uk-text-muted">Portafolio</h6>
          <h2 class="uk-margin-remove">Creatividad en los mejores diseños</h2>
          <p class="uk-text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aperiam atque distinctio ex excepturi facilis fuga ipsa iste laudantium maiores natus, neque numquam pariatur qui sapiente sunt tempore, voluptatem!
          </p>
          <a href="" class="btn-round">
            Saber más
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="uk-section uk-section-xsmall">
  <div class="uk-container">
    <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
      <div>
        <i class="fas fa-pencil-alt uk-display-block fa-3x"></i>
        <h5 class="uk-margin-small uk-margin-medium-top">Diseños modernos</h5>
        <p class="uk-text-muted uk-margin-remove">
          Lorem sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div>
        <i class="fas fa-suitcase fa-3x"></i>
        <h5 class="uk-margin-small uk-margin-medium-top">Diseños modernos</h5>
        <p class="uk-text-muted uk-margin-remove">
          Lorem sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div>
        <i class="fas fa-bell fa-3x"></i>
        <h5 class="uk-margin-small uk-margin-medium-top">Diseños modernos</h5>
        <p class="uk-text-muted uk-margin-remove">
          Lorem sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="uk-section background-lead">
  <div class="uk-container">
    <h6>¿Por que nosotros?</h6>
    <h2 class="uk-width-1-2 uk-margin-remove-top">Nosotros trabajamos mejor que otras empresas!!</h2>
    <p class="uk-margin-medium-bottom">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
    <div class="uk-child-width-1-2" uk-grid>
      <div>

        <div class="uk-flex uk-flex-middle uk-margin-medium-bottom">
          <div class="uk-width-1-4">
            <div class="circular-icon">
              <i class="fas fa-user fa-sm"></i>
            </div>
          </div>
          <div class="uk-margin-small-left uk-width-auto">
            <h4 class="uk-margin-small-bottom">Expertos en el área</h4>
            <p class="uk-margin-remove">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
        </div>

        <div class="uk-flex uk-flex-middle">
          <div class="uk-width-1-4">
            <div class="circular-icon">
              <i class="fas fa-rocket fa-sm"></i>
            </div>
          </div>
          <div class="uk-margin-small-left uk-width-auto">
            <h4 class="uk-margin-small-bottom">Proceso Rápido</h4>
            <p class="uk-margin-remove">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
        </div>

      </div>
      <div>

        <div class="uk-flex uk-flex-middle uk-margin-medium-bottom">
          <div class="uk-width-1-4">
            <div class="circular-icon">
              <i class="fas fa-certificate fa-sm"></i>
            </div>
          </div>
          <div class="uk-margin-small-left uk-width-auto">
            <h4 class="uk-margin-small-bottom">Proveedor de confianza</h4>
            <p class="uk-margin-remove">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
        </div>

        <div class="uk-flex uk-flex-middle">
          <div class="uk-width-1-4">
            <div class="circular-icon">
              <i class="fas fa-trophy fa-sm"></i>
            </div>
          </div>
          <div class="uk-margin-small-left uk-width-auto">
            <h4 class="uk-margin-small-bottom">Ganadores </h4>
            <p class="uk-margin-remove">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="uk-section">
  <div class="uk-container">
    <div class="uk-child-width-1-2" uk-grid>
      <div>

        <h2 class="uk-margin-medium-bottom title">Sobre Nosotros</h2>
        <p class="uk-text-muted" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid aut consequatur dolorum, eum ex libero odit quisquam voluptatem! Aperiam cumque deserunt earum ipsa praesentium, rem saepe tenetur! Facere, quam.</p>
        <p class="uk-text-muted uk-margin-medium-bottom" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ducimus ipsa magnam modi odit officia officiis perferendis quae! Fugiat nemo sapiente sequi tempore. Animi libero nostrum nulla placeat quisquam, rerum?</p>
        <div class="uk-child-width-1-3 uk-margin-small-top" uk-grid>
          <div class="uk-text-center">
            <img class="uk-border-circle" src="http://unifytheme.com/bin/bitap/images/home/5.jpg" alt="">
          </div>
          <div>
            <h6 class="uk-margin-remove">Leticia Garcia</h6>
            <p class="uk-text-muted uk-margin-small-top">CEO & Fundadora</p>
          </div>
          <div>
            <img src="http://unifytheme.com/bin/bitap/images/home/sign.jpg" alt="">
          </div>

        </div>

        <a class="hvr-float-shadow btn-round uk-margin-medium-top">Saber más</a>

      </div>
      <div>
        <h2 class="uk-margin-medium-bottom title">Preguntas frecuentes</h2>
        <div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title" href="#">¿Como hago mi pedido?</a>
              <div class="uk-accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </li>
            <li class="uk-open">
              <a class="uk-accordion-title" href="#">¿Cuanto tarda la entrega?</a>
              <div class="uk-accordion-content">
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
              </div>
            </li>
            <li class="uk-open">
              <a class="uk-accordion-title" href="#">¿Hay meses sin intereses?</a>
              <div class="uk-accordion-content">
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="uk-section">
  <article class="counter-container uk-container">
    <div class="uk-child-width-1-3 uk-text-center" uk-grid>
      <div>
        <div class="wrapper">
          <div class="numbers">
            +<span id="n1" countUp [endVal]="targets.projects" duration="15" startVal="0">0</span>
          </div>
          <p class="uk-text-lead uk-text-muted">Proyectos completados</p>
        </div>
      </div>

      <div>
        <div class="wrapper">
          <div class="numbers">
            +<span id="n2" countUp [endVal]="targets.years" duration="20" startVal="0">0</span>
          </div>
          <p class="uk-text-lead uk-text-muted">Años de experiencia</p>
        </div>
      </div>

      <div>
        <div class="wrapper">
          <div class="numbers">
            +<span id="n3" countUp="options" [endVal]="targets.workes" duration="20" startVal="0">0</span>
          </div>
          <p class="uk-text-lead uk-text-muted">Expertos trabajando</p>
        </div>
      </div>

    </div>
  </article>
</section>

<section class="uk-section particles-container">
  <div id="particles-js"></div>
  <div class="uk-container">
    <h2 class="services uk-text-center">Nuestros Servicios</h2>
    <p class="uk-text-center services">Lorem ipsum dolor sit amet, vix an natum labitur eleifend mel amet</p>
    <div class="uk-child-width-1-3" uk-grid>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</section>
