h2{
  font-size: 45px;
  font-weight: 800;
}
h2.title{
  line-height: 54px;
}
h4{
  font-size: 22px;
  font-weight: 500;
}
h5{
  font-size: 20px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  color: rgb(40, 40, 40);
}
h6{
  text-transform: uppercase;
  margin-bottom: 18px;
  color: rgb(48, 48, 48);
  font-size: 18px;
  font-weight: 300;
}
.ventajas svg{
  color: rgb(19,183,162) !important;
}
a.btn-round{
  line-height: 41px;
  color: rgb(40, 40, 40);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(236, 236, 236);
  border-image: initial;
  transition: all 0.3s ease-in-out;
}
a.btn-round.more-info{
  width: 155px;
}
.about-us .btn-round{
  background: #109988;
  width: 160px;
  line-height: 50px;
  border-color: #109988;
  color: white;
}
.btn-round{
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  border-radius: 30px;
}
.btn-round:hover{
  background: rgb(19,183,162);
  border-color: rgb(19,183,162);
  color: rgb(255, 255, 255);
}
.background-lead{
  background: rgb(247, 250, 253);
}
.circular-icon{
  width: 70px !important;
  height: 70px !important;
  line-height: 70px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  border-radius: 50%;
  background: rgb(19,183,162);
}
.circular-icon svg{
  color: #ffffff !important;
}
a.uk-accordion-title{
  font-weight: 500;
  color: rgb(40, 40, 40);
  display: block;
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active{
  webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
a.hvr-float-shadow:before{
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.counter-container .wrapper{
  background: #f4f7f9;
  border: none;
  border: 1px solid #f3f3f3;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 38px 0 34px 0;
}
.counter-container .wrapper .numbers{
  font-weight: 700;
  font-size: 36px;
  color: #282828;
}
.particles-container{
  background: #202125;
  padding: 100px 0 90px;
  position: relative;
  z-index: 99;
}
#particles-js{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
h2.services{
  color: white;
}
p.services{
  color: #b2b2b2;
}

.single-service{
  background: #109988;
  position: relative;
  padding: 25px 30px 28px 50px;
  border-radius: 3px;
  color: #ffffff !important;
}
.single-service div {
  position: relative;
  padding-left: 65px;
}
.single-service div svg {
  position: absolute;
  top: 15px;
  left: 0;
  font-size: 45px;
  color: #ffffff;
}
.single-service div span {
  font-size: 15px;
  color: #ffffff;
}
.single-service div h5 a {
  color: #fff;
  margin: 2px 0 22px 0;
}
.single-service p {
  color: #ffffff;
}
 .services-btn{
  line-height: 46px;
  border: 2px solid #fff;
  color: #ffffff !important;
}

.our-team .single-team-member .title h5 a {
  color: #282828;
  display: block;
  margin: 32px 0 5px 0;
}

.our-team p{
  color: #8f8f8f;
}
.our-team ul{
  list-style-type: none;
}
.our-team ul li{
  display: inline-block;
}
.our-team ul li a{
  width: 35px;
  line-height: 33px;
  border: 1px solid #cfd1d9;
  text-align: center;
  color: #cfd1d9;
  margin-right: 4px;
  border-radius: 50%;
}
.our-team ul li a:hover {
  color: #fff;
  background: #109988;
  border: 1px solid #109988;
}
.testimonios{
  background-image: url('http://unifytheme.com/bin/bitap/images/home/7.jpg');
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}
.testimonios .testimonios-container{
  height: 100vh;
  padding-top: 9%;
}
.testimonios h6{
  color: #ffffff;
}
.testimonios h2{
  color: #ffffff;
}
.testimonios span{
  color: #109988;
}
.testimonios .item {
  background: #fff;
  border-radius: 3px;
  padding: 40px 30px 35px 40px;
}
.testimonios .item .name {
  position: relative;
  padding-left: 90px;
}
.testimonios .item .name .img {
  position: absolute;
  left: 0;
  top: -5px;
  border-radius: 50%;
}
.overlay{
  height: auto;
  width: 100%;
  position: absolute;
  background-color: rgba(21,21,21,0.9);;
}
iframe {
  width:100%;
  height:500px;
}
form label {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #a8acb9;
  display: block;
  letter-spacing: 1.5px;
}

form input, form textarea {
  border: none;
  background: #eff0f4;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 25px;
  width: 100%;
  max-width: 100%;
}

form input:focus, form textarea:focus {
  box-shadow: 0px 9px 18px 0px rgba(173, 178, 199, 0.52);
}

footer .bottom-footer {
  border-top: 2px solid rgba(205,206,212,0.5);
  margin-top: 70px;
  padding: 40px 0;
  text-align: center;
}

footer .footer-list ul li a {
  font-family: 'Lato', sans-serif;
  margin-bottom: 5px;
  color: #828181;
}
footer .footer-list ul li a:hover{
  color: #109988;
}
footer ul{
  list-style: none;
}
footer svg{
  color: #8f8f8f;
  transition: all .3s;
}
footer svg:hover{
  color: #109988;
}

@media (max-width: 700px) {
  * {
    text-align: center;
  }
  .why-us div.uk-flex{
    flex-direction: column;
  }
  .why-us div.circular-icon{
    display: inline-block;
  }
  .follow-icons{
    justify-content: center;
  }
}
