<app-header></app-header>
<section class="uk-section uk-section-large padding-large-bottom">
  <div class="uk-container">
    <div class="uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid>
      <div>
        <div>
          <img src="/assets/img gs/exito.jpg" alt="">
        </div>
      </div>
      <div>
        <div>
          <h2 class="uk-margin-remove">¡META CUMPLIDA!</h2>
          <p class="uk-text-muted">
            Permítenos reconocer tu iniciativa, tu esfuerzo, tu constancia y dedicación con un detalle perfecto que conmemore el logro de esa gran meta.
          </p>
          <a href="" class="btn-round more-info">
            Saber más
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="uk-section uk-section-xsmall">
  <div class="uk-container ventajas uk-text-center">
    <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
      <div>
        <i class="fas fa-pencil-alt fa-3x"></i>
        <h5 class="uk-margin-small uk-margin-medium-top">DISEÑOS CREATIVOS</h5>
        <p class="uk-text-muted uk-margin-remove">
          A demás de contar con una amplia gama de diseños, buscamos nuevos materiales que nos permitan crear modelos exclusivos para ti.
        </p>
      </div>
      <div>
        <i class="fas fa-suitcase fa-3x"></i>
        <h5 class="uk-margin-small uk-margin-medium-top">DISEÑOS PERSONALIZADOS</h5>
        <p class="uk-text-muted uk-margin-remove">
          Nos adaptamos a tus requerimientos.
        </p>
      </div>
      <div>
        <i class="fas fa-certificate fa-3x"></i>
        <h5 class="uk-margin-small uk-margin-medium-top">DISEÑOS CON CALIDAD </h5>
        <p class="uk-text-muted uk-margin-remove">
          ¡Siempre tendrás un gran detalle que admirar o regalar!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="uk-section background-lead">
  <div class="uk-container why-us">
    <h6>ACERCA DE NOSOTROS</h6>
    <h3 class="uk-width-1-2@m uk-margin-remove-top">Empresa 100% mexicana fundada en el año de 1994, ubicada
      en el oriente de la ciudad de México.
    </h3>
    <p class="uk-margin-medium-bottom">
      “Reconocimientos GS”  es  hoy  en  día  una  de  las  empresas líderes y de mayor
      prestigio en la venta y  fabricación de artículos de  graduación,
      anillos conmemorativos, preseas  y  reconocimientos  al  mérito
      laboral, así como especialistas en la  maquila  de   grabado  en
      diversos materiales.
    </p>
    <div class="uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>
      <div>

        <div class="uk-flex uk-flex-middle uk-margin-medium-bottom">
          <div class="uk-width-1-4@m uk-width-1-1@s">
            <div class="circular-icon">
              <i class="fas fa-sitemap fa-sm"></i>
            </div>
          </div>
          <div class="uk-margin-small-left uk-width-auto">
            <h4 class="uk-margin-small-bottom">INFRAESTRUCTURA</h4>
            <p class="uk-margin-remove">
              Compuesta por talleres propios de diseño, manufactura, ensamblado y  producto  terminado en cada una de las líneas de producto.
            </p>
          </div>
        </div>

        <div class="uk-flex uk-flex-middle">
          <div class="uk-width-1-4@m uk-width-1-1@s">
            <div class="circular-icon">
              <i class="fas fa-lock fa-sm"></i>
            </div>
          </div>
          <div class="uk-margin-small-left uk-width-auto@m uk-width-1-1@s">
            <h4 class="uk-margin-small-bottom">SEGURIDAD Y CONFIANZA</h4>
            <p class="uk-margin-remove">
              Se cuenta con los registros requeridos, licencias de uso de marca de Universidades importantes y clientes de renombre que avalan nuestro trabajo.
            </p>
          </div>
        </div>

      </div>
      <div>

        <div class="uk-flex uk-flex-middle uk-margin-medium-bottom">
          <div class="uk-width-1-4@m uk-width-1-1@s">
            <div class="circular-icon">
              <i class="fas fa-truck fa-sm"></i>
            </div>
          </div>
          <div class="uk-margin-small-left uk-width-auto@m uk-width-1-1@s">
            <h4 class="uk-margin-small-bottom">FLEXIBILIDAD DE ENTREGAS</h4>
            <p class="uk-margin-remove">
              Contamos con la infraestructura necesaria para adaptarnos a las necesidades de nuestros clientes.
            </p>
          </div>
        </div>

        <!---<div class="uk-flex uk-flex-middle">
          <div class="uk-width-1-4@m uk-width-1-1@s">
            <div class="circular-icon">
              <i class="fas fa-trophy fa-sm"></i>
            </div>
          </div>
          <div class="uk-margin-small-left uk-width-auto@m uk-width-1-1@s">
            <h4 class="uk-margin-small-bottom">Ganadores </h4>
            <p class="uk-margin-remove">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
        </div>-->

      </div>
    </div>
  </div>
</section>

<section class="uk-section about-us">
  <div class="uk-container">
    <div class="uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>
      <div>

        <h2 class="uk-margin-medium-bottom title">Sobre Nosotros</h2>
        <p class="uk-text-muted">
          Empresa 100% mexicana fundada en el año de 1994, ubicada
          En el oriente de la ciudad de México.
        <p>

        <p class="uk-text-muted padding-bottom">
          “Reconocimientos GS”  es  hoy  en  día  una  de  las  empresas líderes y de mayor
          prestigio en la venta y  fabricación de artículos de  graduación,
          anillos conmemorativos, preseas  y  reconocimientos  al  mérito
          laboral, así como especialistas en la  maquila  de   grabado  en
          diversos materiales.
        <p>
        <!--<div class="uk-child-width-1-3@m uk-child-width-1-1@s uk-margin-small-top" uk-grid>
          <div class="uk-text-center">
            <img class="uk-border-circle" src="http://unifytheme.com/bin/bitap/images/home/5.jpg" alt="">
          </div>
          <div>
            <h6 class="uk-margin-remove">Leticia Garcia</h6>
            <p class="uk-text-muted uk-margin-small-top">CEO & Fundadora</p>
          </div>
          <div>
            <img src="http://unifytheme.com/bin/bitap/images/home/sign.jpg" alt="">
          </div>

        </div>-->

        <a class="hvr-float-shadow btn-round uk-margin-medium-top ">Saber más</a>

      </div>
      <div>
        <h2 class="uk-margin-medium-bottom title">Preguntas frecuentes</h2>
        <div>
          <ul uk-accordion>
            <li class="">
              <a class="uk-accordion-title" href="#">¿Cómo puedo contactarlos?</a>
              <div class="uk-accordion-content">

                  <p>- Llama al 51212353 o 57838535 y agenda una cita.</p>
                  <p>- Escríbenos por correo electrónico a contacto@reconocimientosgs.com proporcionando, tu nombre, escuela, un teléfono donde podamos contactarte.</p>
                  <p>- En el apartado de Contacto de nuestra página web.</p>
                  <p>- Por Facebook en Reconocimientos- GS y nos comunicaremos lo antes posible contigo.</p>

              </div>
            </li>
            <li class="">
              <a class="uk-accordion-title" href="#">¿Cómo contrato mi paquete de graduación?</a>
              <div class="uk-accordion-content">
                <p>- Se hace una presentación de los productos y paquetes, ya sea en tu escuela o en nuestra sala de exhibición. Es probable que se contrate ese mismo día o se acuerde una nueva fecha de contratación.</p>
                <p>- Se proporciona un contrato individual en donde se estipula los productos a adquirir, precio y condiciones de compra-venta.</p>
                <p>- Se estipulan las fechas de pago.</p>
                <p>- Se realiza la toma de fotografía 1 o 2 meses antes de la entrega.</p>
              </div>
            </li>
            <li class="">
              <a class="uk-accordion-title" href="#">¿Cuánto tiempo pasa entre que una persona solicita un paquete y se le hace entrega de este?</a>
              <div class="uk-accordion-content">
                <p>En el caso de ser pedidos grupales se puede contratar hasta con un año de anticipación o 6 meses antes y se hace entrega de sus productos en la fecha acordada antes del dia de su graduación.</p>
                <p>Cuando son contratos individuales el tiempo de entrega puede ser hasta de 15 dias.</p>
              </div>
            </li>

            <li class="">
              <a class="uk-accordion-title" href="#">¿Cómo puede un alumno recoger su paquete extemporáneo?</a>
              <div class="uk-accordion-content">
                <p>Podemos llevarlo a tu Universidad en caso de que haya alguna feria o presentación, de otra manera se puede recoger en nuestras instalaciones.</p>
              </div>
            </li>
            <li class="">
              <a class="uk-accordion-title" href="#">¿Hacen duplicados de anillos?</a>
              <div class="uk-accordion-content">
                <p>Si, si extraviaste tu anillo o quieres adquirir una réplica es posible hacerlo.</p>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="uk-section">
  <article class="counter-container uk-container">
    <div class="uk-child-width-1-3@m uk-child-width-1-1@s uk-text-center" uk-grid>
      <div>
        <div class="wrapper">
          <div class="numbers">
            +<span id="n1" countUp [endVal]="targets.projects" duration="15" startVal="0">0</span>
          </div>
          <p class="uk-text-lead uk-text-muted">Proyectos completados</p>
        </div>
      </div>

      <div>
        <div class="wrapper">
          <div class="numbers">
            +<span id="n2" countUp [endVal]="targets.years" duration="20" startVal="0">0</span>
          </div>
          <p class="uk-text-lead uk-text-muted">Años de experiencia</p>
        </div>
      </div>

      <div>
        <div class="wrapper">
          <div class="numbers">
            +<span id="n3" countUp="options" [endVal]="targets.workes" duration="20" startVal="0">0</span>
          </div>
          <p class="uk-text-lead uk-text-muted">Expertos trabajando</p>
        </div>
      </div>

    </div>
  </article>
</section>

<section class="uk-section particles-container">
  <div id="particles-js"></div>
  <div class="uk-container">
    <h2 class="services uk-text-center">Nuestros Servicios</h2>
    <p class="uk-text-center services">Lorem ipsum dolor sit amet, vix an natum labitur eleifend mel amet</p>
    <div class="uk-child-width-1-3@m uk-child-width-1-1@s uk-margin-medium-top uk-grid-match" uk-grid>

      <div *ngFor="let service of services">
        <div class="item">
          <div class="single-service tran3s">
            <div>
              <i class="fas fa-graduation-cap"></i>
              <span>Servicio</span>
              <h5 class="uk-margin-remove"><a href="service-details.html" class="tran3s">{{service.name}}</a></h5>
            </div>
            <p class="uk-margin-remove">The kit consists more than hundred of ready to use elements that combine to get the exact prototype want.</p>
          </div> <!-- /.single-service -->
        </div> <!-- /.item -->
      </div>

    </div>

    <a routerLink="/services" class="btn-round services-btn uk-text-center uk-margin-medium-top uk-margin-auto-left uk-margin-auto-right uk-display-block uk-text-uppercase uk-width-1-4@m uk-width-1-2@s">
      Ver todos los servicios
    </a>

  </div>
</section>


<section class="uk-section our-team">
  <div class="uk-container">
    <h2 class="uk-text-center">Nuestros Equipo</h2>
    <p class="uk-text-center">Lorem ipsum dolor sit amet, vix an natum labitur eleifend mel amet</p>
    <div class="uk-child-width-1-4@m uk-child-width-1-1@s uk-margin-medium-top" uk-grid>

      <app-teammember></app-teammember>
      <app-teammember></app-teammember>
      <app-teammember></app-teammember>
      <app-teammember></app-teammember>

    </div>
  </div>
</section>

<section class="uk-section">

  <div class="testimonios">
    <div class="overlay uk-flex uk-flex-center uk-flex-middle">
      <div class="uk-width-1-1 testimonios-container">
        <div class="uk-text-center uk-margin-medium-bottom">
          <h6 class="uk-margin-remove uk-text-center">Testimonios</h6>
          <h2 class="uk-text-capitalize uk-margin-remove">Lo que dicen nuestros <span>Clientes</span></h2>
        </div>
        <div class="uk-margin-medium-right uk-margin-medium-left">
          <div class="uk-child-width-1-3@m uk-child-width-1-1@s uk-grid-small" uk-grid>

            <div class="uk-visible@m">

              <div class="item">
                <div class="name">
                  <div class="img">
                    <img class="uk-border-circle" src="http://unifytheme.com/bin/bitap/images/home/8.jpg" alt="">
                  </div>
                  <h5 class="uk-margin-remove">William Ayrton</h5>
                  <span>CEO of Bata</span>
                </div> <!-- /.name -->
                <p>Looking cautiously round, ascertain that they were not overheard,cowered nearer the fire, and chuckled heartily.</p>
              </div> <!-- /.item -->

            </div>

            <div class="uk-visible@m">

              <div class="item">
                <div class="name">
                  <div class="img">
                    <img class="uk-border-circle" src="http://unifytheme.com/bin/bitap/images/home/8.jpg" alt="">
                  </div>
                  <h5 class="uk-margin-remove">William Ayrton</h5>
                  <span>CEO of Bata</span>
                </div> <!-- /.name -->
                <p>Looking cautiously round, ascertain that they were not overheard,cowered nearer the fire, and chuckled heartily.</p>
              </div> <!-- /.item -->

            </div>

            <div>

              <div class="item">
                <div class="name">
                  <div class="img">
                    <img class="uk-border-circle" src="http://unifytheme.com/bin/bitap/images/home/8.jpg" alt="">
                  </div>
                  <h5 class="uk-margin-remove">William Ayrton</h5>
                  <span>CEO of Bata</span>
                </div> <!-- /.name -->
                <p>Looking cautiously round, ascertain that they were not overheard,cowered nearer the fire, and chuckled heartily.</p>
              </div> <!-- /.item -->

            </div>

          </div>

          <a href="" class="btn-round services-btn uk-text-center uk-margin-medium-top uk-margin-auto-left uk-margin-auto-right uk-display-block uk-text-uppercase uk-width-1-4@m uk-width-1-2@s">
            Más testimonios
          </a>

        </div>
      </div>
    </div>
  </div>

</section>


<section class="uk-section">
  <div class="uk-container">
    <div class="uk-grid-match" uk-grid>
      <div class="uk-width-expand@m uk-width-1-1@s">
        <h2>Visitanos</h2>
        <iframe
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCngbzHv03wpM1YRkWRwtzvXzrscX_ccEg
                      &q=Avenida+Francisco+I.+Madero+16,+Centro,+Ciudad+de+México,+CDMX" allowfullscreen>
        </iframe>
      </div>
      <div class="uk-width-1-3@m uk-width-1-1@s">
        <h2>Contactanos</h2>
        <app-contactus-form></app-contactus-form>
      </div>
    </div>
  </div>
</section>
