h2{
  font-size: 45px;
  font-weight: 800;
}
h2.title{
  line-height: 54px;
}
h4{
  font-size: 22px;
  font-weight: 500;
}
h5{
  font-size: 20px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  color: rgb(40, 40, 40);
}
h6{
  text-transform: uppercase;
  margin-bottom: 18px;
  color: rgb(48, 48, 48);
  font-size: 18px;
  font-weight: 300;
}
svg{
  color: rgb(0, 196, 252) !important;
}
a.btn-round{
  line-height: 41px;
  color: rgb(40, 40, 40);
  width: 155px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(236, 236, 236);
  border-image: initial;
  transition: all 0.3s ease-in-out;
}
.btn-round{
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  border-radius: 30px;
}
.btn-round:hover{
  background: rgb(0, 196, 252);
  border-color: rgb(0, 196, 252);
  color: rgb(255, 255, 255);
}
.background-lead{
  background: rgb(247, 250, 253);
}
.circular-icon{
  width: 70px !important;
  height: 70px !important;
  line-height: 70px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  border-radius: 50%;
  background: rgb(0, 196, 252);
}
.circular-icon svg{
  color: #ffffff !important;
}
a.uk-accordion-title{
  font-weight: 500;
  color: rgb(40, 40, 40);
  display: block;
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active{
  webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
a.hvr-float-shadow:before{
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.counter-container .wrapper{
  background: #f4f7f9;
  border: none;
  border: 1px solid #f3f3f3;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 38px 0 34px 0;
}
.counter-container .wrapper .numbers{
  font-weight: 700;
  font-size: 36px;
  color: #282828;
}
.particles-container{
  background: #202125;
  padding: 100px 0 90px;
  position: relative;
  z-index: 99;
}
#particles-js{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
h2.services{
  color: white;
}
p.services{
  color: #b2b2b2;
}
