<app-section-header [section]="'Servicios'" [header]="'Servicios'"></app-section-header>
<section class="uk-section">
  <div class="uk-container">
    <div uk-grid>
      <div class="uk-width-1-4 sidebar-list">
        <ul class="uk-list">
          <li class="uk-margin-remove-top">
            <a href="" class="tran3s">Empresas</a>
          </li>
          <li class="uk-margin-remove-top">
            <a href="" class="tran3s">Paquetes de Graduación</a>
          </li>
          <li class="uk-margin-remove-top">
            <a href="" class="tran3s">Escuelas y Universidades</a>
          </li>
        </ul>
        <div class="call-us">
          <span>
            Tienes preguntas? <br>
            Llamanos:
          </span>
          <h6>(+52) 55 6070 3961</h6>
          <a href="">Más detalles</a>
        </div>
        <a href="" class="download uk-text-center">Descargar catalogo <i class="fas fa-download"></i></a>
      </div>
      <div class="uk-width-3-4 service-details">
        <div class="service-img">
          <img src="/assets/img gs/6.JPG" class="uk-border-rounded" alt="">
        </div>
        <div class="service-top-text">
          <h3 class="uk-margin-top">Empresas</h3>
          <span>Conoce nuestros paquetes especializados en empresas</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto dolore dolores ea eius esse, facere facilis laborum magnam nam numquam odio odit quo, saepe suscipit tempora ut veniam voluptatum!
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius magnam minima odio perferendis quos! Atque incidunt mollitia possimus similique vel. Doloribus illum in maiores quasi quos recusandae temporibus veritatis voluptate?
          </p>
        </div>
        <div>
          <h3>Que incluye el servicio?</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis consequatur, cum dolore dolorem explicabo in minus, natus necessitatibus neque numquam, optio placeat possimus quidem saepe sint soluta temporibus voluptate!
          </p>

          <div class="uk-margin-medium">
            <div class="uk-child-width-1-2" uk-grid>
              <div>
                <div class="single-list">
                  <div class="icon uk-flex-center uk-flex uk-flex-middle">
                    <i class="fas fa-lightbulb fa-4x"></i>
                  </div>
                  <h5 class="uk-margin-small-top">Tiempo de entrega</h5>
                  <p class="uk-margin-remove">
                    Lorem ipsum dolor sit amet, sit dolor consectetur adipisicing elit.
                  </p>
                </div>

                <div class="single-list">
                  <div class="icon uk-flex-center uk-flex uk-flex-middle">
                    <i class="fas fa-lightbulb fa-4x"></i>
                  </div>
                  <h5 class="uk-margin-small-top">Tiempo de entrega</h5>
                  <p class="uk-margin-remove">
                    Lorem ipsum dolor sit amet, sit dolor consectetur adipisicing elit.
                  </p>
                </div>
              </div>
              <div>
                <div class="single-list">
                  <div class="icon uk-flex-center uk-flex uk-flex-middle">
                    <i class="fas fa-lightbulb fa-4x"></i>
                  </div>
                  <h5 class="uk-margin-small-top">Tiempo de entrega</h5>
                  <p class="uk-margin-remove">
                    Lorem ipsum dolor sit amet, sit dolor consectetur adipisicing elit.
                  </p>
                </div>

                <div class="single-list">
                  <div class="icon uk-flex-center uk-flex uk-flex-middle">
                    <i class="fas fa-lightbulb fa-4x"></i>
                  </div>
                  <h5 class="uk-margin-small-top">Tiempo de entrega</h5>
                  <p class="uk-margin-remove">
                    Lorem ipsum dolor sit amet, sit dolor consectetur adipisicing elit.
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div>
          <ul uk-tab uk-switcher="animation: uk-animation-fade">
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>

          <ul class="uk-switcher uk-margin">
            <li>
              <div class="" uk-grid>
                <div class="uk-width-1-3">
                  <img src="http://unifytheme.com/bin/bitap/images/service/12.jpg" alt="">
                </div>
                <div class="uk-width-expand">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <p>
                    Alias cumque cupiditate doloremque, doloribus earum eos facere, impedit nisi nulla placeat provident ratione repudiandae sequi soluta tempore temporibus velit vitae voluptas?
                  </p>
                </div>
              </div>
            </li>
            <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed do eiusmod.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
