/* You can add global styles to this file, and also import other style files */
.uk-navbar-nav>li>a{
  color: #fff !important;
}
a{
  font-family: 'Montserrat', sans-serif !important;
}
/** Paddings left **/
.padding-small-left{
  padding-left: 15px !important;
}
.padding-left{
  padding-left: 40px !important;
}
.padding-large-left{
  padding-left: 70px !important;
}
/** Paddings right **/
.padding-small-right{
  padding-right: 15px !important;
}
.padding-right{
  padding-right: 40px !important;
}
.padding-large-right{
  padding-right: 70px !important;
}

/** Paddings bottom **/
.padding-small-bottom{
  padding-bottom: 15px !important;
}
.padding-bottom{
  padding-bottom: 40px !important;
}
.padding-large-bottom{
  padding-bottom: 70px !important;
}

/** Paddings top **/
.padding-small-top{
  padding-top: 15px !important;
}
.padding-top{
  padding-top: 40px !important;
}
.padding-large-top{
  padding-top: 70px !important;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Montserrat', sans-serif !important;
}
a{
  display: inline-block;
  font-family: Montserrat, sans-serif;
  text-decoration: none !important;
}
p{
  font-size: 18px;
  line-height: 32px;
  color: #303030;
  margin-top: 15px;
}

.tran3s{
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
